<div class="">
  <div class="reset-password-container">
  <h2>📩 Mot de passe oublié</h2>
  <p>Entrez votre email pour recevoir un lien de réinitialisation.</p>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

    <!-- Champ Email -->
    <div class="input-group">
      <input 
        type="email" 
        formControlName="email" 
        placeholder="votre.email@exemple.com" 
        required>
    </div>

    <!-- Erreurs -->
    <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid" class="error-messages">
      <small *ngIf="forgotForm.get('email')?.errors?.['required']">Veuillez saisir votre adresse email </small>
      <small *ngIf="forgotForm.get('email')?.errors?.['email']">Adresse email invalide</small>
    </div>

    <button type="submit" [disabled]="forgotForm.invalid" class="btn-gradient">Envoyer</button>
  </form>

  <!-- Messages -->
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <!-- Retour connexion -->
  <a href="#" class="forgot-link" (click)="retour(); $event.preventDefault();">
    🔙 Retour à la connexion
  </a>
</div>

</div>


