<div class=" text-white border-bottom p-4 shadow-sm animate__animated animate__fadeIn" id="header">
  <div class="container">
    <div class="d-flex align-items-center gap-3">
      
      <!-- Icône -->
      <div class="p-3 bg-light rounded">
        <i class="bi bi-gear-fill text-primary fs-3"></i>
      </div>

      <!-- Texte -->
      <div>
        <h1 class="h3 fw-bold mb-1">Paramètres Personnels</h1>
        <p class="text-light">Gérez vos informations et préférences de votre profil</p>
      </div>

       <!-- Bouton retour -->
      <button class="btn btn-light d-flex align-items-center gap-1 ms-auto"
              (click)="retour()">
        <i class="bi bi-arrow-left"></i> Retour
      </button>

    </div>
  </div>
</div>
